body {
    font-family: 'Poppins', sans-serif;
}

/* slider  */
.carousel-item {
    height: 680px;
    background: no-repeat scroll center scroll;
    background-size: cover;
}

.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
    opacity: 0.5;
}

.carousel-caption {
    height: 336px;
    width: 671px;
}

.carousel-caption h1 {
    font-size: 65px;
    font-weight: 600;
    line-height: 85px;
}

.carousel-caption p {
    font-size: 18px;
}

.Discover {
    width: 606px;
    height: 190px;
}